body {background-color: #011627;
    font-family: 'Laila', serif;
    color: #fdfffc;
    text-align: center;
    border: 40px solid #2ec486;
    border-top: 0px;
    margin: 0px;}


p {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%; 
    }



#signup {width: 150px;
        border-radius: 25px;
        height: 80px;
        margin-top: 10px;
        background-color: #FF9F1C;
        color:white;
        font-size: 1.0em;
        }

form {font-size: 1.5em;
    margin-bottom: 10px;}

